extends layout

block content
  h1 Properties to sale
  ul.list-group
    each sell, i in sells
      li.list-group-item
        h6 Land Id :
        a=sell.landid
        h6 Owner name :
        b=sell.current_owner
        h6 Cordinate 1 :
        c=sell.cordinate_1
        h6 Cordinate 2 :
        c=sell.cordinate_2
        h6 Area :
        c=sell.area
        h6 price :
        c=sell.price
        h6 Mobile Number :
        b=sell.mob